[Unit]
Description=GoLinks Service
After=network.target

[Service]
User=%i
WorkingDirectory=/opt/golinks
Environment="PATH=/opt/golinks/venv/bin"
ExecStart=/opt/golinks/venv/bin/gunicorn -w 4 -b 0.0.0.0:8080 app:app
Restart=always

[Install]
WantedBy=multi-user.target
